<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memberList</title>
</head>
<body>
<div class="container">
    <table calss="table table-condensed">
        <caption>사용자 목록</caption>
        <thead>
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>이메일</th>
        </tr>
        </thead>
        <tbody>
        {{#MemberDTO}}
        <tr>
            <td>{{userId}}</td>
            <td>{{userName}}</td>
            <td>{{userEmail}}</td>
        </tr>
        {{/MemberDTO}}
        </tbody>
    </table>
</div>
</body>
</html>